@media print {
  @page {
    margin: 20px;
  }
  body {
    font-size: 14px;
  }

  .header {
    &__heading::before {
      display: none;
    }
  }
  .lines {
    display: none;
  }
  .contact {
    display: flex;
    flex-direction: row;
    margin: 2em 0;
    justify-content: space-between;
    &__details {
      margin: 0;
    }
    &__links {
      margin-right: 1.5em;
      li {
        text-align: right;
      }
    }
    &__icons {
      display: none;
    }
  }
  .section__item:before {
    // left: 0;
    height: 40px;
    top: calc(50% - 20px);
  }
  .skills,
  .interests {
    margin-left: 2.5em;
  }

  .footer {
    position: fixed;
    bottom: 1em;
  }
}
