@media print {
  @page {
    margin: 20px;
  }
  body {
    font-size: 14px;
  }

  section {
    position: relative;
    top: -80px;
  }

  .contact {
    display: flex;
    flex-direction: row;
    margin: 2em 0;
    position: relative;
    top: -8.2em;
    justify-content: space-between;
    a {
      padding-top: 1em;
    }
  }

  .footer {
    position: fixed;
    bottom: 1em;
    padding-right: 1em;
  }
}
