.contact {
  padding: 1em 0;
  &__icons {
    @media (max-width: 350px) {
      padding-top: 0.5em;
    }
    .icon {
      display: inline-block;
      width: 2em;
      height: 2em;
      img {
        width: 100%;
      }
      &:not(:first-child) {
        margin-left: 1em;
      }
    }
  }
}

.details {
  &__item {
    padding: 0.5em 0;
  }
}
