.section {
  position: relative;
  z-index: 2;
  margin-bottom: 2em;
  &__title {
    // border-bottom: 1px solid #ddd;
    padding-bottom: 0.33em;
  }
  &__body {
    padding-top: 0.66em;
  }
  &__item {
    padding-left: 1em;
    margin-bottom: 1em;
    z-index: 1;
    transition: all 0.3s ease-out 1s;
    position: relative;

    &__heading {
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      h5 {
        // margin: 1em 0 0.33em 0;
        margin: 0.4em 0;
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0.85em;
        top: 1px;
        height: 1px;
        width: 10%;
        z-index: -1;
        opacity: 0.5;
        background: $gold;
        transition: 0.2s ease-in-out 0.22s;
      }
    }
  }
  &__row {
    position: relative;
    &::before {
      content: "• ";
      color: $gold;
      position: absolute;
      left: -1em;
    }
  }

  &__heading {
    position: relative;
    margin: 5px 0;
    &:before {
      content: "";
      color: $gold;
      position: absolute;
      left: -1.7em;
      top: 0;
      font-size: 1em;
    }
  }
}
