.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 3em;
  &__header {
    margin-bottom: 2em;
  }
}

.A4 {
  // width: 592px;w
  max-width: calc(592px * 1.5);
  padding: 20px;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // grid-template-rows: repeat(2, 150px);
  grid-column-gap: 2em;
  grid-row-gap: 0.5em;
  grid-template-areas:
    "header header header header"
    "exp exp skills skills"
    "edu edu interests interests"
    "footer footer footer footer";
  background: #fff;
  color: $black;
  overflow: hidden;
  position: relative;

  @media (max-width: 660px) {
    // grid-template-columns: 80%;
    // grid-template-areas:
    //   "header"
    //   "exp"
    //   "skills"
    //   "edu"
    //   "interests";
    display: flex;
    flex-direction: column;
  }
}

.header {
  grid-area: header;
}

.contact {
  grid-area: contact;
}

.experience {
  grid-area: exp;
}

.education {
  grid-area: edu;
}

.icons {
  grid-area: icons;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.interests {
  grid-area: interests;
}

.skills {
  grid-area: skills;
}

.footer {
  grid-area: footer;

  margin-top: 1.5em;
}
