@import '../utils/variables';
.header {
  color: $darkgrey;
  &__heading {
    color: $black;
    position: relative;
    &::before {
      @include headline-shadow('CV', 10rem, -0.35em, 0.5em, 0.035);
      @media (min-width: 510px) {
        @include headline-shadow('CV', 10rem, -0.8em, -0.3em, 0.03);
      }
      @media (min-width: 830px) {
        @include headline-shadow('CV', 13rem, -0.55em, -0.5em, 0.03);
      }
    }
  }
  &__text {
    padding-top: 1.5em;
  }
}
